
@{
	ViewData["Title"] = "Profile";
}


<div class="container">
    <h1>Profile</h1>
	<h2>Welcome @Context.User.Identity.Name</h2>
	<a asp-controller="" asp-action="DangXuat">Đăng xuất</a>
</div>
<div class="row" style="margin-top:500px">
    <div>
        tris
    </div>
</div>